.bg_image,
.about_image {
  box-shadow: inset 0px -700px 500px -500px #184A6E;
}

.card_about,
.contact_card,
.experience_card,
.portofolio_card,
.contact_card,
.icon_footer,
.floating_card {
  background-color: #2B2B67;
}

.card_about:hover,
.experience_card:hover,
.portofolio_card:hover,
.contact_card:hover {
  background-color: #1F1F38;
}

.icon_footer:hover {
  border-color: #2B2B67;
}

.title_footer {
  color: #2B2B67;
}


.logo_footer {
  color: white;
}

.logo_footer:hover {
  color: #2B2B67;
}